mixin video(info)
    div 
        h4=info.title
        ul 
            li #{info.rating} / 4.
            li #{info.rating} comments.
            li Posted #{info.createdAt}.
            li #{info.views} views.